body{
    background: violet;
    font-family: 'Courier New', Courier, monospace;
}

.container-table3{
    width: 90%;
    background: white;
    margin: 60px auto;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: auto;
    
    
}

.table-title3{
    grid-column-start: 1;
    grid-column-end: 6;
    background: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.0em;
    border: solid 2px black;
}

.table-header3, .table-items3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.table-header3{
    font-weight: bold;
    font-size: 1.5em;

}

.table-items3{
    padding: 5px;
    font-size: 1.4em;
}
