body{
    background: violet;
    font-family: 'Courier New', Courier, monospace;
}

.container-table{
    width: 90%;
    background: white;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(7, 10%);
    grid-auto-rows: auto;
    
}

.table-title{
    grid-column-start: 1;
    grid-column-end: 7;
    background: teal;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.0em;
}
.table-header, .table-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header{
    font-weight: bold;
    font-size: 1.5em;

}

.table-items{
    padding: auto;
    margin: auto;
    font-size: 1.5em;
}

